<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Karbo nodes map</title>

	<meta charset="utf-8">
	  
    <meta name="description" content="Map of  Karbo (KRB) nodes">
    <meta name="keywords" content="karbo,krb,cryptocurrency,node, карбо">
    
    <meta name="author" content="mixer">
    
    <meta property="og:title" content="Map of  Karbo (KRB) nodes">
    <meta property="og:description" content="Map of  Karbo (KRB) nodes, around the world">
    <meta property="og:image:url" content="https://karbo.io/promo/krb-logo.png">
    <meta property="og:image:secure_url" content="https://karbo.io/promo/krb-logo.png">
           
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/"> 

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" integrity="sha384-lPzjPsFQL6te2x+VxmV6q1DpRxpRk0tmnl2cpwAO5y04ESyc752tnEWPKDfl1olr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" integrity="sha384-5kMSQJ6S4Qj5i09mtMNrWpSi8iXw230pKU76xTmrpezGnNJQzj0NzXjQLLg+jE7k" crossorigin="anonymous">
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js" integrity="sha384-N9K+COcUk7tr9O2uHZVp6jl7ueGhWsT+LUKUhd/VpA0svQrQMGArhY8r/u/Pkwih" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
    <!-- vendor -->
	<script src="leaflet_numbered_markers.js"></script>
	<link rel="stylesheet" href="css/leaflet_numbered_markers.css" />
	<script src="countries.geo.json"></script>
<style>

    #mapid{
    
        width: 100%;
        height: 600px; 
        float:left;
    }
    #country_list {
        height: 400px;
        overflow: auto;
    }
    .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<div class="container">

        <div >
        <h3>Karbo nodes map <u><small><a href="/masternodes">master nodes map</a></small></u></h3>
        </div>

</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-8">
           <div id="mapid"></div>
        
        </div>
        <div class="col-sm-4">
             
            <div class="info"></div>
            <div class="loader"></div>
            <div id="chart"><canvas id="Chart" style="margin: 0 auto;"></canvas></div>
            <div id="country_list"><table class="table table-striped"><tbody id="tableBody"></tbody></table></div>
        </div>
    </div>
</div>

<script>

var karboLogoPaht = 'img/sm-krb-logo.png';
var karboMarkerHolePaht = 'img/marker_hole.png';


var layerId;
var countryCount=[];
var ips=[];


function buildMapv3(){
    var labels =[];
    var data = [];
    var colors =[];
for(var item in countryCount) 
{
    let count = countryCount[item];
    
    labels.push(item);
    data.push(count);
    
    if(item == 'United States') item = 'United States of America';
    if(item == 'Republic of Lithuania') item = 'Lithuania';
    if(item == 'Serbia') item = 'Republic of Serbia';
    if(item == 'Czechia') item = 'Czech Republic';
    if(item == 'Republic of Korea') item = 'South Korea';
    if(item == 'Republic of Moldova') item = 'Moldova';
    

    placeOnMap(item,count);
    if(countryLayers.has(item))
     colors.push(countrieslayerGroup.getLayer(countryLayers.get(item)).toGeoJSON().features[0].properties.color);
}
 
 displayTable(countryCount);
 displayChart(labels,data, colors);   
}

function placeOnMap(name, count){
     var color = getRandomColor();
       const geoInfoCountry = allCountries[name];
    if(geoInfoCountry) {
        if(geoInfoCountry.properties.color) color = geoInfoCountry.properties.color;
        if(!countryLayers.has(name)) {
            var country = L.geoJson(geoInfoCountry, {style: function (feature) {
                                    return {color: color }
                                }
                            });
        geoInfoCountry.properties.description = count;
        geoInfoCountry.properties.color = color;
       
		countrieslayerGroup.addLayer(country);
        countryLayers.set(name,countrieslayerGroup.getLayerId(country))    
        }
        addMarkerv3(name, count);
	
    } else {
        console.log("not found: "+name)
    } 
}
        
function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
function displayTable(countryCount){
     $("#tableBody >tr").remove();
     let countryList = [];
        for(var item in countryCount){
            
            let count = countryCount[item];
        if(item == 'United States') item = 'United States of America';
        if(item == 'Republic of Lithuania') item = 'Lithuania';
        if(item == 'Serbia') item = 'Republic of Serbia';
        if(item == 'Czechia') item = 'Czech Republic';
        if(item == 'Republic of Korea') item = 'South Korea';
        if(item == 'Republic of Moldova') item = 'Moldova';
     
            countryList.push({name : item,count: count});
        } 
    countryList.sort(function (a, b) {
  if (parseInt(b.count) > parseInt(a.count)) {
    return 1;
  }
  if (parseInt(b.count) < parseInt(a.count)) {
    return -1;
  }
 
  return 0;
});
    let total=0;
    for(var item in countryList) 
    {
        
        $('#tableBody:last-child').append("<tr><td  onclick='panTo(\""+countryList[item].name+"\")' >" +countryList[item].name+"</td><td>" +countryList[item].count+"</td></tr>");
        total+= countryList[item].count
    }
    $('#tableBody:last-child').append("<tr><td >Total </td><td>" +total+"</td></tr>");
}
function displayChart(Labels,data,colors) {
		var ctx = document.getElementById("Chart");

		var chartData = {
			labels: Labels,
			datasets: [{
				data: data,
				borderWidth: 0,
				segmentShowStroke: false,
				backgroundColor: colors,
			}]
		};
		var options = {
			title: {
				display: true,
				text: 'Countries',
				fontSize: 25
			},
			tooltips: {
				enabled: true,
				mode: 'single'
			},
			legend: {
				display: false,
				labels: {
					fontColor: '#fff'
				}
			},
			onClick: function(e,d,f){
			    var label = d[0]._model.label;
			    
			    if(label == 'United States') label = 'United States of America';
			    const geoInfoCountry = allCountries[label];

                let country = L.geoJson(geoInfoCountry, {
                                style: function (feature) {
                                    return {color: d[0]._model.backgroundColor }
                                }
                            });

            
	            mymap.flyToBounds(country.getBounds(),{maxZoom:8});
	            
	            layerId = country; 
			}
		};
		if(wChart) wChart.destroy();
		wChart = new Chart(ctx, {
			type: 'doughnut',
			data: chartData,
			options: options
		});
	}
	function panTo(name) {
	     if(name == 'United States') name = 'United States of America';
			const geoInfoCountry = allCountries[name];
                     let country = L.geoJson(geoInfoCountry, {
                               
                            });

            
	            mymap.flyToBounds(country.getBounds(),{maxZoom:10});
    }
var wChart;
var markers = new Map();
var countryLayers = new Map();
var popups =[];  	
var mymap = L.map('mapid');

    L.tileLayer( 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
    }).addTo( mymap );


    function addMarkerv3(name, count){
        var lat;
        if(name == "Russia"){
            lat = L.latLng(55.75, 37.616667);
        } else {
            var geoInfoCountry = allCountries[name];
            
            
            lat =L.geoJSON(geoInfoCountry).getBounds().getCenter();
        }
        if(markers.has(name)){
           countrieslayerGroup.removeLayer(markers.get(name));
        } 
        var myMarker = L.marker(lat,{icon:	new L.NumberedDivIcon({number: count>1000? (count/1000).toFixed(1)+'K' :count+'',iconUrl: karboMarkerHolePaht})})
        myMarker.addTo(countrieslayerGroup);
        markers.set(name,myMarker);
    } 
    
    L.Control.Watermark = L.Control.extend({
		onAdd: function(map) {
			var img = L.DomUtil.create('img');
			
			img.src = karboLogoPaht;
			img.style.width = '50px';
			L.DomEvent
            .addListener(img, 'click', L.DomEvent.stopPropagation)
            .addListener(img, 'click', L.DomEvent.preventDefault)
            .addListener(img, 'click', function () { location.href='https://karbo.io'; });
			return img;
		},
		
		onRemove: function(map) {
			// Nothing to do here
		}
	});

	L.control.watermark = function(opts) {
		return new L.Control.Watermark(opts);
	}
	
	L.control.watermark({ position: 'bottomleft' }).addTo(mymap);

var countrieslayerGroup   = L.layerGroup();
    countrieslayerGroup.addTo(mymap);				
    
    mymap.fitWorld().zoomIn();
    function getLocations(){
        $.get("/locations", function (data) {
            countryCount = data;
            if (countryCount.length == 0) {
                console.log("node location's not ready...");
                setTimeout(getLocations, 1000 * 20);
            } else {
                buildMapv3();
                $(".loader").hide();

            }

        }).fail(function () {
            $(".info").show();
            $(".info").text("can't load data form server")
            $(".loader").hide();
        })
    }
    $(document).ready(function() {
        $(".info").show()
        getLocations();
    });



</script>
</html>